/*Header division*/
.container {
	width: 1000px; 
	height: 150px;
	/* 
	border:solid thin; 
	*/
	margin: 0px auto;
}

/*Image logo division in Header */
#box-1 {
	width: 150px;
	height: 150px;
	/*
	border:solid thin;
	*/
	float: left;
}

/*text divisor in header*/
.box-2 {
	width: 850px;
	height: 150px;
	/*
	border:solid thin;
	*/
	margin-left:150px;
}

#codetrain {
	font-size: 100px;
	font-family: jokerman;
	font-weight: bold;
	text-align: center;
	text-shadow: 5px 5px dodgerblue;
}
